<p id="notice"><%= notice %></p>

<div>Subscribers for <b><%= @campaign.name %></b></div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.full_name %></td>
        <td><%= subscriber.email %></td>
        <td>
          <%= link_to 'Show', [:admin, @campaign, subscriber],  class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_admin_campaign_subscriber_path(subscriber, @campaign), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [:admin, @campaign, subscriber], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Subscriber', new_admin_campaign_subscriber_path(@campaign), class: 'btn btn-primary' %>
