<p id="notice"><%= notice %></p>

<h1>Listing Subscribers</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Email</th>
      <th>Subscribed to</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.full_name %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber.subscribed_to %></td>
        <td>
          <%= link_to 'Show', [:admin, subscriber],  class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_admin_subscriber_path(subscriber), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [:admin, subscriber], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
