<p id="notice"><%= notice %></p>

<p>
  <strong>email:</strong>
  <%= @subscriber.email %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @subscriber.full_name %>
</p>

<%= link_to 'Edit', edit_admin_campaign_subscriber_path(@subscriber, @campaign) %> |
<%= link_to 'Back', admin_campaign_subscribers_path %>
