<%= form_for([:admin, @recipe], html: {multipart: true}) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :difficulty %><br>
      <%= f.number_field :difficulty, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :serving %><br>
      <%= f.number_field :serving, class: 'form-control' %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :premium, class: 'checkbox' %> <%= t('Premium') %>
      </label>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :how_to_cook %><br>
    <%= f.text_area :how_to_cook, class: 'form-control' %>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <%= f.label :category %><br>
      <%= f.select :recipe_category_id, RecipeCategory.all.collect{|u| [u.name, u.id]}, { prompt: 'Select category', include_blank: true }, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :cook %><br>
      <%= f.select :cook_id, Cook.all.collect{|u| [u.name, u.id]}, { prompt: 'Select cook', include_blank: true }, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :color %><br>
      <%= f.text_field :color, class: 'form-control colorpicker', data: {format: 'hex'} %>
    </div>
    <div class="form-group">
      <%= f.label :photo %><br>
      <%= f.file_field :photo %>
    </div>
  </div>
  <h3>Ingredients</h3>
  <%= f.fields_for :recipe_ingredients do |fr| %>
    <%= render 'recipe_ingredient_fields', f: fr %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add ingredient', f, :recipe_ingredients %>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
