<div class="form-inline nested-fields">
  <div class="form-group">
    <%= f.select :ingredient_id, @ingredients.collect{|u| [u.name, u.id]}, {prompt: 'Select ingredient'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
  </div>
  <div class="form-group">
    <%= f.text_field :amount, class: 'form-control', placeholder: 'Amount' %>
  </div>
  <div class="form-group">
    <%= f.select :unit_id, @units.collect{|u| [u.name, u.id]}, {prompt: 'Select unit'}, class: 'form-control' %>
  </div>
  <%= link_to_remove_association "remove ingredient", f %>
</div>
