<%= form_for([:admin, @dropoff_location]) do |f| %>
  <% if @dropoff_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dropoff_location.errors.count, "error") %> prohibited this dropoff_location from being saved:</h2>

      <ul>
      <% @dropoff_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :capacity_per_day %><br>
    <%= f.text_field :capacity_per_day, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'wysihtml5 form-control' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :suburb %><br>
    <%= f.text_field :suburb, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
