<p id="notice"><%= notice %></p>

<h1>Listing Dropoff Locations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Suburb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dropoff_locations.each do |dropoff_location| %>
      <tr>
        <td><%= dropoff_location.address %></td>
        <td><%= dropoff_location.suburb %></td>
        <td><%= link_to 'Show', [:admin, dropoff_location], class: 'btn btn-link' %></td>
        <td><%= link_to 'Edit', edit_admin_dropoff_location_path(dropoff_location) %></td>
        <td><%= link_to 'Destroy', [:admin, dropoff_location], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dropoff location', new_admin_dropoff_location_path %>
