<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @dropoff_location.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @dropoff_location.suburb %>
</p>

<%= link_to 'Edit', edit_admin_dropoff_location_path(@dropoff_location) %> |
<%= link_to 'Back', admin_dropoff_locations_path %>
