<%= form_for([:admin, @ingredient_category]) do |f| %>
  <% if @ingredient_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredient_category.errors.count, "error") %> prohibited this ingredient_category from being saved:</h2>

      <ul>
      <% @ingredient_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :color %><br>
      <%= f.text_field :color, class: 'form-control colorpicker', data: {format: 'hex'} %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit nil, class: 'btn btn-default' %>
    </div>
<% end %>
