<p id="notice"><%= notice %></p>

<h1>Listing Admin Ingredient Categories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Color</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredient_categories.each do |ingredient_category| %>
      <tr>
        <td><%= ingredient_category.title %></td>
        <td><%= ingredient_category.color %></td>
        <td><%= ingredient_category.description %></td>
        <td>
          <%= link_to 'Show', [:admin, ingredient_category], class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_admin_ingredient_category_path(ingredient_category), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [:admin, ingredient_category], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient category', new_admin_ingredient_category_path, class: 'btn btn-primary' %>
