<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ingredient_category.title %>
</p>

<p>
  <strong>Color:</strong>
  <%= @ingredient_category.color %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient_category.description %>
</p>

<%= link_to 'Edit', edit_admin_ingredient_category_path(@ingredient_category) %> |
<%= link_to 'Back', admin_ingredient_categories_path %>
