<p id="notice"><%= notice %></p>

<h1>Listing Carts</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Customer name</th>
      <th>State</th>
      <th>Vegan/Activated/Organic</th>
      <th>Total</th>
      <th>Delivery at</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.customer.fullname if cart.customer %></td>
        <td><%= cart.state.current_state %></td>
        <td><%= cart.vegan %>, <%= cart.activated_nuts %>, <%= cart.organic %></td>
        <td><%= cart.total %></td>
        <td><%= cart.delivery_at %></td>
        <td><%= time_ago_in_words(cart.created_at) %></td>
        <td>
          <%= link_to 'View Invoice', invoice_admin_cart_path(cart),  class: 'btn btn-link', target: '_blank' %>
          <%= link_to 'Destroy', [:admin, cart], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

