<%= form_for(@ingredient) do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation" class='alert alert-danger' role='alert'>
      <div><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</div>

      <ul>
      <% @ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <section>
    <div class="form-inline">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :amount %><br>
        <%= f.text_field :amount, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :unit %><br>
        <%= f.select :unit_id, Unit.all.collect{|u| [u.name, u.id]}, {prompt: 'Select unit'}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :category %><br>
      <%= f.select :ingredient_category_id, IngredientCategory.all.collect{|ic| [ic.description, ic.id]}, {prompt: 'Select category'}, class: 'form-control' %>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :premium, class: 'checkbox' %> <%= t('Premium') %>
      </label>
    </div>
    
    <div class="form-group">
      <%= f.label :tags %><br>
      <%= f.text_field :tags, class: 'form-control' %>
      <h5><small>Seperate tags with comma ex. cooked, raw</small></h5>
    </div>
  </section>

  <section>
    <h3>Nutrition facts</h3>
    <%= f.fields_for :ingredient_nutrition_facts do |nf| %>
      <%= render 'ingredient_nutrition_fact_fields', f: nf %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add nutrition fact', f, :ingredient_nutrition_facts %>
    </div>
  </section>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
