<p id="notice"><%= notice %></p>

<h1>Listing Ingredients</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.try(:category).try(:description) %></td>
        <td>
          <%= link_to 'Show', [:admin, ingredient], class: 'btn btn-link' %>
          <%= link_to 'Duplicate', duplicate_admin_ingredient_path(ingredient.id), class: 'btn btn-success' %>
          <%= link_to 'Edit', edit_admin_ingredient_path(ingredient), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [:admin, ingredient], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_admin_ingredient_path, class: 'btn btn-primary' %>
