<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<h3>Nutrition Facts</h3>
<div class='row'>
<% @ingredient_nutrition_facts.each do |ingredient_nutrition_fact| %>
  <div class='col-md-5'>
    <%= ingredient_nutrition_fact.try(:nutrition_fact).try(:name).capitalize %>
    <span class='label label-primary'> <%= "#{ingredient_nutrition_fact.amount_mg} milligram" %> </span>&nbsp;
    <span class='label label-info'> <%= "#{ingredient_nutrition_fact.amount} #{ingredient_nutrition_fact.unit.name}" %> </span>
  </div>
<% end %>
</div>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
