<%= form_for([:admin, @campaign], html: {multipart: true}) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :strategy %><br>
    <%= f.text_field :strategy, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :short_description %><br>
    <%= f.text_area :short_description, class: 'form-control', row: 3 %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control wysihtml5', row: 2 %>
  </div>
  <div class="form-inline">
    <div class="form-group">
      <%= f.label :pdf_title %><br>
      <%= f.text_field :pdf_title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :pdf %><br>
      <%= f.file_field :pdf %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="checkbox">
    <label>
      <%= f.check_box :active, class: 'checkbox' %> <%= t('Active') %>
    </label>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
