<p id="notice"><%= notice %></p>

<h1>Listing Campaign</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pdf title</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.pdf_title %></td>
        <td>
          <%= link_to 'Show', [:admin, campaign], class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_admin_campaign_path(campaign), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [:admin, campaign], method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'View Subscribers', admin_campaign_subscribers_path(campaign), class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_admin_campaign_path, class: 'btn btn-primary' %>
