<p id="notice"><%= notice %></p>

<h1>Listing Nutrition Facts</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nutrition_facts.each do |nutrition_fact| %>
      <tr>
        <td><%= nutrition_fact.name %></td>
        <td><%= nutrition_fact.category %></td>
        <td>
          <%= link_to 'Show', nutrition_fact, class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_nutrition_fact_path(nutrition_fact), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', nutrition_fact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nutrition fact', new_nutrition_fact_path, class: 'btn btn-primary' %>
