<p id="notice"><%= notice %></p>

<h1>Listing Product Category</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short description</th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.name %></td>
        <td><%= product_category.short_description %></td>
        <td>
          <%= link_to 'Show', [:admin, product_category], class: 'btn btn-link' %>
          <%= link_to 'Edit', edit_admin_product_category_path(product_category), class: 'btn btn-default' %>
          <%= link_to 'Destroy', [:admin, product_category], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Category', new_admin_product_category_path, class: 'btn btn-primary' %>
