<%= form_for([:admin, @coupon]) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :rule %><br>
    <%= f.text_field :rule, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :redemption_limit %><br>
    <%= f.number_field :redemption_limit, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit nil, class: 'btn btn-default' %>
  </div>
<% end %>
