<!DOCTYPE html>
<html>
<head>
  <title>Personalised Nutrition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" aria-expanded="false" data-toggle="collapse" data-target="#mainmenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>

      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spider<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('engine'), admin_engine_dashboard_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elixir<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('units'), admin_units_path %></li>
              <li><%= link_to t('nutrition_facts'), admin_nutrition_facts_path %></li>
              <li><%= link_to t('ingredients'), admin_ingredients_path %></li>
              <li><%= link_to t('recipes'), admin_recipes_path %></li>
              <li><%= link_to t('recipe_category'), admin_recipe_categories_path %></li>
              <li><%= link_to t('ingredient_category'), admin_ingredient_categories_path %></li>
              <li><%= link_to t('cook'), admin_cooks_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Market<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('products'), admin_products_path %></li>
              <li><%= link_to t('cart'), admin_carts_path %></li>
              <li><%= link_to t('coupons'), admin_coupons_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Eat out<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Restaurants', admin_restaurants_path %></li>
              <li><%= link_to 'Meals', admin_meals_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Campaign Mgt<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('Campaigns'), admin_campaings_path %></li>
              <li><%= link_to t('Subscribers'), admin_subscribers_path %></li>
            </ul>
          </li>
          <li>
            <%= link_to t('Articles'), admin_articles_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Mgt<span class="caret"></span></a>
            <li><%= link_to t('Users'), admin_users_path %></li>
            <li><%= link_to t('Tenants'), admin_tenants_path %></li>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class='dropdown'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to('Logout as admin', destroy_admin_session_path, :method => :delete) %>
                </li>
              <% end %>
              <% if user_signed_in? %>
                <li>
                  <%= link_to('Logout as user', destroy_user_session_path, :method => :delete) %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
