<!DOCTYPE html>
<html>
<head>
  <title>Life Elixir Business</title>
  <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'user', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="">
  <header class="navbar navbar-sticky">
    <div class="site-branding">
      <div class="inner">
        <a class="site-logo" href="#">Life Elixir Business</a>
      </div>
    </div>
    <nav class="site-menu">
      <ul>
        <li>
          <!-- 
          <a href="#"><span>Settings</span></a>
          <ul class="sub-menu">
          </ul>
          -->
        </li>
      </ul>
    </nav>
    <div class="toolbar">
      <div class="inner">
        <div class="tools">
      <div class="account">
        <a herf="#"></a>
        <i class="icon-head"></i>
        <ul class="toolbar-dropdown">
          <li>
            <%= link_to('Profile', user_profile_path) %>
          </li>
          <li class="sub-menu-separator"></li>
          <li>
            <%= link_to(raw("<i class='icon-unlock'></i> Logout"), destroy_user_session_path, :method => :delete) %>
          </li>
        </ul>
      </div>
      </div>
      </div>
    </div>
  </header>

  <%= yield %>
</body>
</html>
